@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  /* display: flex; */
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f1356d;
}

.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}
.content {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
}

/* blog previews / list */
.blog-preview {
  padding: 1px 1px;
  margin: 15px 0px;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.blog-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}
.blog-preview a {
  text-decoration: none;
}
/* blog details page */
.blog-details h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}
.blog-details div {
  margin: 20px 0;
}

.blog-details button {
  background: #f1356d;
  color:#fff;
  border: 0;
  /* padding:8px; */
  border-radius: 8px;
  cursor: pointer;
}


/* Recipes */
.recipe-list {
  padding: 1px 1px;
  margin: 15px 0px;
  border-bottom: 1px solid #fafafa;
}
.recipe-list-inner {
  padding: 1px 1px;
  margin: 15px 0px;
  border-bottom: 1px solid #fafafa;
}
.recipe-list-inner:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.recipe-list-inner h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}
.recipe-list-inner a {
  text-decoration: none;
}

.tags-list {
  font-size: 11px;
}
.similar-recipes  {
  max-width: 500px;
  margin-left: 40px;
  /* border-left-style: solid;
  border-left: thick green; */
}
.similar-recipes h2 {
  font-size: 20px;
  color: #1a9c9c;
  margin-bottom: 10px;
  display: block;
  /* align-items: ; */
  padding-bottom: 10px;
  border-left: lightblue;
  
}

.column-border-left {
  border-left:lightblue;
  padding: 4px 40px;
  border-left-style:solid;
}
.recipe-details  {
  align-items: end;
  max-width: 700px;
  margin: 0 auto;
  
}
.recipe-details div {
  margin: 10px 0;
}
.recipe-details h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
  /* padding-bottom: 10px;; */
}
.recipe-ingredients button {
  background: #f1356d;
  column-count: 3;
  color:#fff;
  border: 0;
  /* padding:50px; */
  margin-left: 50px;
  /* border-radius: 8px; */
  cursor: pointer;
}
.recipe-ingredient  {
  padding-left: 20px;
  /* padding:50px; */
  /* margin-left: 50px; */
  /* border-radius: 8px; */
  /* cursor: pointer; */
}

.recipe-ingredients-list {
  column-count: 3;
  column-rule-style: solid;
  column-rule-width: 1px;
  column-rule-color: lightblue;
  border: 0;
  
  margin-left: 50px;
  /* border-radius: 8px; */
  /* cursor: pointer; */
}

.recipe-description {
  column-count: 2;
  column-rule-style: solid;
  column-rule-width: 1px;
  column-rule-color: lightblue;
  border: 0;
  margin-left: 50px;
}

.row {
  display: flex;
  column-gap: 1em;
  column-rule-width: thin;
  column-rule-style: solid;
  column-rule-color: lightblue;
  /* margin-left: 50px; */
}
.column {
  flex: 50%;
  
  padding: 1px;
  
  /* height: 250px; */
}
/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
.search-container {
  max-width: 600px;
  margin: 50px auto;
}
.search-input {
  display: block;
  width: calc(50% - 24px); /*20px [ left & Right ] padding + 4px border [ left & Right ] */ 
  font-size: 18px;
  font-weight: 600;
  color: #2cc2c2;
  /* margin-left: 80px; */
  padding: 10px;
  border: 1px solid #2a96bd;
  border-radius: 10px;
}